In [22]:
import pandas as pd
from datetime import datetime as dt
from pandas_analysis import load_all_csv

data = load_all_csv()

In [40]:

def mask_func(x):
    dif = (dt.strptime(x["departure_date"], "%Y-%m-%d") - dt.strptime(x["scrape_date"], "%Y-%m-%d")).days
    return (dif > 14 and dif < 31)

correct_data = data[data.apply(mask_func, axis=1)]

In [41]:
correct_data[correct_data["price"] == correct_data["price"].min()]

,flight_id,flightnumber,departure_date,arrival_date,departure_time,arrival_time,duration,number_of_stops,airline_iata_code,departure_airport_iata_code,arrival_airport_iata_code,scrape_date,available_seats,price
46118,FR_CRL_NAP_2023-05-09_FR1302,FR1302,2023-05-09,2023-05-09,19:20,21:35,02:15,0,FR,CRL,NAP,2023-04-10,1,19.99
46126,FR_CRL_PMI_2023-05-09_FR7831,FR7831,2023-05-09,2023-05-09,06:35,08:45,02:10,0,FR,CRL,PMI,2023-04-10,4,19.99
46129,FR_CRL_NAP_2023-05-10_FR1302,FR1302,2023-05-10,2023-05-10,16:35,18:50,02:15,0,FR,CRL,NAP,2023-04-10,2,19.99
71426,FR_CRL_NAP_2023-05-09_FR1302,FR1302,2023-05-09,2023-05-09,19:20,21:35,02:15,0,FR,CRL,NAP,2023-04-09,3,19.99
71434,FR_CRL_PMI_2023-05-09_FR7831,FR7831,2023-05-09,2023-05-09,06:35,08:45,02:10,0,FR,CRL,PMI,2023-04-09,-1,19.99
76615,FR_CRL_NAP_2023-05-23_FR1302,FR1302,2023-05-23,2023-05-23,19:20,21:35,02:15,0,FR,CRL,NAP,2023-04-23,-1,19.99
110660,FR_CRL_NAP_2023-05-23_FR1302,FR1302,2023-05-23,2023-05-23,19:20,21:35,02:15,0,FR,CRL,NAP,2023-04-24,4,19.99